.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  background-color: #f1f1f1; // Light gray background
  flex-wrap: wrap;
}


